.App {
  text-align: start;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.logo {
  width: 430px;
  height: 58px;
  margin: 24px auto;
}

p,
h4,
h3,
h2,
h1 {
  margin-top: 0em;
  margin-bottom: 0em;
}
